# Exclude all files with the .md extension (like README.md)
*.md

# Exclude specific directories
.idea/
.git/
vendor/

# Exclude specific files
*.pem
*.key

# Exclude the Dockerfile and .dockerignore files (uncomment if needed)
Dockerfile
.dockerignore

# Exclude any files with the word "secret" in the filename
*secret*

# Exclude the test files
*_test.go

# Ignore .env file which usually contains environment-specific secrets
.env

# Ignore all log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore any binary, object code, or library files
*.o
*.so
*.a
*.out

